
.content {
	padding-bottom: 70px;
}
.admin_menu {
	padding-bottom: 60px;
}

/*Forms
------------------------------------------*/
.admin-form {
	padding: 20px 0px;
	border: 1px solid #ccc;
}
.admin-form h2 {
	margin: -45px 0px 40px 10px;
}
.admin-form h2 span {
	background: #fff;
	padding: 0px 20px;
}
.admin-form .buttons_block {
	margin: 40px 0px -35px 0px;
}
.admin-form form .buttons_block {
	margin: 40px 0px -35px 0px;
}
.admin-form .buttons_block .buttons_block_sub {
	background: #fff;
}

/*Tables
------------------------------------------*/
table.table th {
	position: relative;
}
i.fa {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 12px;
	height: 12px;
	background-image: url('/img/add_img_ico.png');
	background-repeat: no-repeat;
}
table.table th:hover i.fa-sort, i.fa-sort-numeric-asc, i.fa-sort-asc, i.fa-sort-alpha-asc {
	background-position: 0px 5px;
}
i.fa-sort-numeric-desc, i.fa-sort-desc, i.fa-sort-alpha-desc {
	background-position: 0px -5px;
}
table.table td.actions form, table.table td.actions button {
	display: inline;
}
td.actions .act_butt {
	padding: 0px 4px;
}
td.actions .act_butt:hover {
	text-decoration: none;
}

/*Other
-------------------------------------------------------*/
.admin_list_img{
	border: 1px solid #999;
}
.admin_list_img a {
	display: block;
}
.admin_add_img {
	min-width: 120px;
	border: 1px dashed #ccc;
	background: url('../img/add_img_ico.png') center center no-repeat;
}
.admin_add_img a {
	display: block;
	min-height: 120px;
	height: 100%;
	text-decoration: none;
}