html {
    height: 100%;
}
body {
    height: 100%;
}
header {
    background: #D2D2D2;
    margin-bottom: 40px;
    padding: 0px 0px 20px 0px;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -30px;
}
.footer, .empty {
    height: 30px;
}

/*Blog
-------------------------------------------*/
.blogs .blogs_img img {
	max-width: 350px;
}