@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Fira+Sans:400,400italic");

.cd-h-timeline ol, .cd-h-timeline ul{list-style:none}



[data-theme]
{background-color:hsl(0, 0%, 100%);background-color:var(--color-bg, #fff);color:hsl(240, 4%, 20%);color:var(--color-contrast-high, #313135)}

:root{--space-unit:  1em;--space-xxxxs: calc(0.125*var(--space-unit));--space-xxxs:  calc(0.25*var(--space-unit));--space-xxs:   calc(0.375*var(--space-unit));--space-xs:    calc(0.5*var(--space-unit));--space-sm:    calc(0.75*var(--space-unit));--space-md:    calc(1.25*var(--space-unit));--space-lg:    calc(2*var(--space-unit));--space-xl:    calc(3.25*var(--space-unit));--space-xxl:   calc(5.25*var(--space-unit));--space-xxxl:  calc(8.5*var(--space-unit));--space-xxxxl: calc(13.75*var(--space-unit));--component-padding: var(--space-md)}


:root{--max-width-xxs: 32rem;--max-width-xs:  38rem;--max-width-sm:  48rem;--max-width-md:  64rem;--max-width-lg:  80rem;--max-width-xl:  90rem;--max-width-xxl: 120rem}

.cd-h-timeline .container{width:calc(100% - 1.25em);width:calc(100% - 2*var(--component-padding));margin-left:auto;margin-right:auto}




:root{--radius-sm: calc(var(--radius, 0.25em)/2);--radius-md: var(--radius, 0.25em);--radius-lg: calc(var(--radius, 0.25em)*2);--shadow-sm: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1);--shadow-md: 0 1px 8px rgba(0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15);--shadow-lg: 0 1px 8px rgba(0, 0, 0, .1), 0 16px 48px rgba(0, 0, 0, .1), 0 24px 60px rgba(0, 0, 0, .1);--bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);--ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);--ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);--ease-out: cubic-bezier(0.215, 0.61, 0.355, 1)}
:root{--body-line-height: 1.4;--heading-line-height: 1.2}
.cd-h-timeline .text-xxxl{font-size:2.48832em;font-size:var(--text-xxxl, 2.488em)}

.cd-h-timeline .text-component{--component-body-line-height: calc(var(--body-line-height)*var(--line-height-multiplier, 1));--component-heading-line-height: calc(var(--heading-line-height)*var(--line-height-multiplier, 1))}

.cd-h-timeline .text-component h1,.text-component h2,.text-component h3,.text-component h4{line-height:1.2;line-height:var(--component-heading-line-height, 1.2);margin-bottom:0.25em;margin-bottom:calc(var(--space-xxxs)*var(--text-vspace-multiplier, 1))}

.cd-h-timeline .text-component h2, .cd-h-timeline .text-component h3, .cd-h-timeline .text-component h4{margin-top:0.75em;margin-top:calc(var(--space-sm)*var(--text-vspace-multiplier, 1))}

.cd-h-timeline .text-component p, .cd-h-timeline .text-component blockquote, .cd-h-timeline .text-component ul li, .cd-h-timeline .text-component ol li{line-height:1.4;line-height:var(--component-body-line-height)}

.cd-h-timeline .text-component ul, .cd-h-timeline .text-component ol, .cd-h-timeline .text-component p, .cd-h-timeline .text-component blockquote, .cd-h-timeline .text-component .text-component__block{margin-bottom:0.75em;margin-bottom:calc(var(--space-sm)*var(--text-vspace-multiplier, 1))}

.cd-h-timeline .text-component ul, .cd-h-timeline .text-component ol{padding-left:1em}

.cd-h-timeline .text-component ul{list-style-type:disc}

.cd-h-timeline .text-component ol{list-style-type:decimal}

.cd-h-timeline .text-component img{display:block;margin:0 auto}

.cd-h-timeline .text-component figcaption{text-align:center;margin-top:0.5em;margin-top:var(--space-xs)}

.cd-h-timeline .text-component em{font-style:italic}
.cd-h-timeline .text-component hr{margin-top:2em;margin-top:calc(var(--space-lg)*var(--text-vspace-multiplier, 1));margin-bottom:2em;margin-bottom:calc(var(--space-lg)*var(--text-vspace-multiplier, 1));margin-left:auto;margin-right:auto}
.cd-h-timeline .text-component>*:first-child{margin-top:0}
.cd-h-timeline .text-component>*:last-child{margin-bottom:0}
.cd-h-timeline .text-component__block--full-width{width:100vw;margin-left:calc(50% - 50vw)}

@media (min-width: 48rem){.text-component__block--left,.text-component__block--right{width:45%}
.text-component__block--left img,.text-component__block--right img{width:100%}
.text-component__block--left{float:left;margin-right:0.75em;margin-right:calc(var(--space-sm)*var(--text-vspace-multiplier, 1))}
.text-component__block--right{float:right;margin-left:0.75em;margin-left:calc(var(--space-sm)*var(--text-vspace-multiplier, 1))}
}

@media (min-width: 90rem){.text-component__block--outset{width:calc(100% + 10.5em);width:calc(100% + 2*var(--space-xxl))}
.text-component__block--outset img{width:100%}
.text-component__block--outset:not(.text-component__block--right){margin-left:-5.25em;margin-left:calc(-1*var(--space-xxl))}
.text-component__block--left,.text-component__block--right{width:50%}
.text-component__block--right.text-component__block--outset{margin-right:-5.25em;margin-right:calc(-1*var(--space-xxl))}
}
:root{--icon-xxs: 12px;--icon-xs:  16px;--icon-sm:  24px;--icon-md:  32px;--icon-lg:  48px;--icon-xl:  64px;--icon-xxl: 128px}

.cd-h-timeline .icon{display:inline-block;color:inherit;fill:currentColor;height:1em;width:1em;line-height:1;-ms-flex-negative:0;flex-shrink:0}
.cd-h-timeline .icon--xxs{font-size:12px;font-size:var(--icon-xxs)}
.cd-h-timeline .icon--xs{font-size:16px;font-size:var(--icon-xs)}
.cd-h-timeline .icon--sm{font-size:24px;font-size:var(--icon-sm)}
.cd-h-timeline .icon--md{font-size:32px;font-size:var(--icon-md)}
.cd-h-timeline .icon--lg{font-size:48px;font-size:var(--icon-lg)}
.cd-h-timeline .icon--xl{font-size:64px;font-size:var(--icon-xl)}
.cd-h-timeline .icon--xxl{font-size:128px;font-size:var(--icon-xxl)}
.cd-h-timeline .icon--is-spinning{-webkit-animation:icon-spin 1s infinite linear;animation:icon-spin 1s infinite linear}
@-webkit-keyframes icon-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes icon-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.cd-h-timeline .icon use{color:inherit;fill:currentColor}
.cd-h-timeline .btn{position:relative;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;white-space:nowrap;text-decoration:none;line-height:1;font-size:1em;font-size:var(--btn-font-size, 1em);padding-top:0.5em;padding-top:var(--btn-padding-y, 0.5em);padding-bottom:0.5em;padding-bottom:var(--btn-padding-y, 0.5em);padding-left:0.75em;padding-left:var(--btn-padding-x, 0.75em);padding-right:0.75em;padding-right:var(--btn-padding-x, 0.75em);border-radius:0.25em;border-radius:var(--btn-radius, 0.25em)}
.btn--primary{background-color:hsl(220, 90%, 56%);background-color:var(--color-primary, #2a6df4);color:hsl(0, 0%, 100%);color:var(--color-white, #fff)}
.btn--subtle{background-color:hsl(240, 1%, 83%);background-color:var(--color-contrast-low, #d3d3d4);color:hsl(240, 8%, 12%);color:var(--color-contrast-higher, #1c1c21)}
.btn--accent{background-color:hsl(355, 90%, 61%);background-color:var(--color-accent, #f54251);color:hsl(0, 0%, 100%);color:var(--color-white, #fff)}
.btn--disabled{cursor:not-allowed}
.btn--sm{font-size:0.8em;font-size:var(--btn-font-size-sm, 0.8em)}
.btn--md{font-size:1.2em;font-size:var(--btn-font-size-md, 1.2em)}
.btn--lg{font-size:1.4em;font-size:var(--btn-font-size-lg, 1.4em)}
.btn--icon{padding:0.5em;padding:var(--btn-padding-y, 0.5em)}
.form-control{background-color:hsl(0, 0%, 100%);background-color:var(--color-bg, #f2f2f2);padding-top:0.5em;padding-top:var(--form-control-padding-y, 0.5em);padding-bottom:0.5em;padding-bottom:var(--form-control-padding-y, 0.5em);padding-left:0.75em;padding-left:var(--form-control-padding-x, 0.75em);padding-right:0.75em;padding-right:var(--form-control-padding-x, 0.75em);border-radius:0.25em;border-radius:var(--form-control-radius, 0.25em)}
.cd-h-timeline .form-control::-webkit-input-placeholder{color:hsl(240, 1%, 48%);color:var(--color-contrast-medium, #79797c)}
.cd-h-timeline .form-control::-moz-placeholder{opacity:1;color:hsl(240, 1%, 48%);color:var(--color-contrast-medium, #79797c)}
.cd-h-timeline .form-control:-ms-input-placeholder{color:hsl(240, 1%, 48%);color:var(--color-contrast-medium, #79797c)}
.cd-h-timeline .form-control:-moz-placeholder{color:hsl(240, 1%, 48%);color:var(--color-contrast-medium, #79797c)}
.cd-h-timeline .form-control[disabled],.form-control[readonly]{cursor:not-allowed}
.cd-h-timeline .form-legend{color:hsl(240, 8%, 12%);color:var(--color-contrast-higher, #1c1c21);line-height:1.2;font-size:1.2em;font-size:var(--text-md, 1.2em);margin-bottom:0.375em;margin-bottom:var(--space-xxs)}
.cd-h-timeline .form-label{display:inline-block}
.cd-h-timeline .form__msg-error{background-color:hsl(355, 90%, 61%);background-color:var(--color-error, #f54251);color:hsl(0, 0%, 100%);color:var(--color-white, #fff);font-size:0.83333em;font-size:var(--text-sm, 0.833em);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;padding:0.5em;padding:var(--space-xs);margin-top:0.75em;margin-top:var(--space-sm);border-radius:0.25em;border-radius:var(--radius-md, 0.25em);position:absolute;clip:rect(1px, 1px, 1px, 1px)}
.form__msg-error::before{content:'';position:absolute;left:0.75em;left:var(--space-sm);top:0;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);width:0;height:0;border:8px solid transparent;border-bottom-color:hsl(355, 90%, 61%);border-bottom-color:var(--color-error)}
.form__msg-error--is-visible{position:relative;clip:auto}
.radio-list>*,.checkbox-list>*{position:relative;display:-ms-flexbox;display:flex;-ms-flex-align:baseline;align-items:baseline;margin-bottom:0.375em;margin-bottom:var(--space-xxs)}
.radio-list>*:last-of-type,.checkbox-list>*:last-of-type{margin-bottom:0}
.radio-list label,.checkbox-list label{line-height:1.4;line-height:var(--body-line-height);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.radio-list input,.checkbox-list input{vertical-align:top;margin-right:0.25em;margin-right:var(--space-xxxs);-ms-flex-negative:0;flex-shrink:0}
:root{--zindex-header: 2;--zindex-popover: 5;--zindex-fixed-element: 10;--zindex-overlay: 15}

@media not all and (min-width: 32rem){.display\@xs{display:none !important}
}

@media (min-width: 32rem){.hide\@xs{display:none !important}
}

@media not all and (min-width: 48rem){.display\@sm{display:none !important}
}

@media (min-width: 48rem){.hide\@sm{display:none !important}
}

@media not all and (min-width: 64rem){.display\@md{display:none !important}
}

@media (min-width: 64rem){.hide\@md{display:none !important}
}

@media not all and (min-width: 80rem){.display\@lg{display:none !important}
}

@media (min-width: 80rem){.hide\@lg{display:none !important}
}

@media not all and (min-width: 90rem){.display\@xl{display:none !important}
}

@media (min-width: 90rem){.hide\@xl{display:none !important}
}
:root{--display: block}
.cd-h-timeline .is-visible{display:block !important;display:var(--display) !important}
.cd-h-timeline .is-hidden{display:none !important}
.cd-h-timeline .sr-only{position:absolute;clip:rect(1px, 1px, 1px, 1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);width:1px;height:1px;overflow:hidden;padding:0;border:0;white-space:nowrap}

.cd-h-timeline .margin-bottom-md{margin-bottom:1.25em;margin-bottom:var(--space-md)}

.cd-h-timeline .truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.cd-h-timeline .text-replace{overflow:hidden;color:transparent;text-indent:100%;white-space:nowrap}
.cd-h-timeline .text-center{text-align:center}
.cd-h-timeline .text-left{text-align:left}
.cd-h-timeline .text-right{text-align:right}

@media (min-width: 32rem){.text-center\@xs{text-align:center}
.cd-h-timeline .text-left\@xs{text-align:left}
.cd-h-timeline .text-right\@xs{text-align:right}
}

@media (min-width: 48rem){.text-center\@sm{text-align:center}
.cd-h-timeline .text-left\@sm{text-align:left}
.cd-h-timeline .text-right\@sm{text-align:right}
}

@media (min-width: 64rem){.text-center\@md{text-align:center}
.cd-h-timeline .text-left\@md{text-align:left}
.cd-h-timeline .text-right\@md{text-align:right}
}

@media (min-width: 80rem){.text-center\@lg{text-align:center}
.cd-h-timeline .text-left\@lg{text-align:left}
.cd-h-timeline .text-right\@lg{text-align:right}
}

@media (min-width: 90rem){.text-center\@xl{text-align:center}
.cd-h-timeline .text-left\@xl{text-align:left}
.cd-h-timeline .text-right\@xl{text-align:right}
}

.width-100\%{width:100%}
.height-100\%{height:100%}
:root,[data-theme="default"]{--color-primary-darker:hsl(220, 90%, 36%);--color-primary-darker-h:220;--color-primary-darker-s:90%;--color-primary-darker-l:36%;--color-primary-dark:hsl(220, 90%, 46%);--color-primary-dark-h:220;--color-primary-dark-s:90%;--color-primary-dark-l:46%;--color-primary:hsl(220, 90%, 56%);--color-primary-h:220;--color-primary-s:90%;--color-primary-l:56%;--color-primary-light:hsl(220, 90%, 66%);--color-primary-light-h:220;--color-primary-light-s:90%;--color-primary-light-l:66%;--color-primary-lighter:hsl(220, 90%, 76%);--color-primary-lighter-h:220;--color-primary-lighter-s:90%;--color-primary-lighter-l:76%;--color-accent-darker:hsl(355, 90%, 41%);--color-accent-darker-h:355;--color-accent-darker-s:90%;--color-accent-darker-l:41%;--color-accent-dark:hsl(355, 90%, 51%);--color-accent-dark-h:355;--color-accent-dark-s:90%;--color-accent-dark-l:51%;--color-accent:hsl(355, 90%, 61%);--color-accent-h:355;--color-accent-s:90%;--color-accent-l:61%;--color-accent-light:hsl(355, 90%, 71%);--color-accent-light-h:355;--color-accent-light-s:90%;--color-accent-light-l:71%;--color-accent-lighter:hsl(355, 90%, 81%);--color-accent-lighter-h:355;--color-accent-lighter-s:90%;--color-accent-lighter-l:81%;--color-black:hsl(240, 8%, 12%);--color-black-h:240;--color-black-s:8%;--color-black-l:12%;--color-white:hsl(0, 0%, 100%);--color-white-h:0;--color-white-s:0%;--color-white-l:100%;--color-success-darker:hsl(94, 48%, 36%);--color-success-darker-h:94;--color-success-darker-s:48%;--color-success-darker-l:36%;--color-success-dark:hsl(94, 48%, 46%);--color-success-dark-h:94;--color-success-dark-s:48%;--color-success-dark-l:46%;--color-success:hsl(94, 48%, 56%);--color-success-h:94;--color-success-s:48%;--color-success-l:56%;--color-success-light:hsl(94, 48%, 66%);--color-success-light-h:94;--color-success-light-s:48%;--color-success-light-l:66%;--color-success-lighter:hsl(94, 48%, 76%);--color-success-lighter-h:94;--color-success-lighter-s:48%;--color-success-lighter-l:76%;--color-error-darker:hsl(355, 90%, 41%);--color-error-darker-h:355;--color-error-darker-s:90%;--color-error-darker-l:41%;--color-error-dark:hsl(355, 90%, 51%);--color-error-dark-h:355;--color-error-dark-s:90%;--color-error-dark-l:51%;--color-error:hsl(355, 90%, 61%);--color-error-h:355;--color-error-s:90%;--color-error-l:61%;--color-error-light:hsl(355, 90%, 71%);--color-error-light-h:355;--color-error-light-s:90%;--color-error-light-l:71%;--color-error-lighter:hsl(355, 90%, 81%);--color-error-lighter-h:355;--color-error-lighter-s:90%;--color-error-lighter-l:81%;--color-warning-darker:hsl(46, 100%, 41%);--color-warning-darker-h:46;--color-warning-darker-s:100%;--color-warning-darker-l:41%;--color-warning-dark:hsl(46, 100%, 51%);--color-warning-dark-h:46;--color-warning-dark-s:100%;--color-warning-dark-l:51%;--color-warning:hsl(46, 100%, 61%);--color-warning-h:46;--color-warning-s:100%;--color-warning-l:61%;--color-warning-light:hsl(46, 100%, 71%);--color-warning-light-h:46;--color-warning-light-s:100%;--color-warning-light-l:71%;--color-warning-lighter:hsl(46, 100%, 81%);--color-warning-lighter-h:46;--color-warning-lighter-s:100%;--color-warning-lighter-l:81%;--color-bg:hsl(0, 0%, 100%);--color-bg-h:0;--color-bg-s:0%;--color-bg-l:100%;--color-contrast-lower:hsl(0, 0%, 95%);--color-contrast-lower-h:0;--color-contrast-lower-s:0%;--color-contrast-lower-l:95%;--color-contrast-low:hsl(240, 1%, 83%);--color-contrast-low-h:240;--color-contrast-low-s:1%;--color-contrast-low-l:83%;--color-contrast-medium:hsl(240, 1%, 48%);--color-contrast-medium-h:240;--color-contrast-medium-s:1%;--color-contrast-medium-l:48%;--color-contrast-high:hsl(240, 4%, 20%);--color-contrast-high-h:240;--color-contrast-high-s:4%;--color-contrast-high-l:20%;--color-contrast-higher:hsl(240, 8%, 12%);--color-contrast-higher-h:240;--color-contrast-higher-s:8%;--color-contrast-higher-l:12%}
@supports (--css: variables){
@media (min-width: 64rem){:root{--space-unit:  1.25em}
}
}
:root{--radius: 0.25em}
:root{--font-primary: sans-serif;--text-base-size: 1em;--text-scale-ratio: 1.2;--text-xs: calc(1em/var(--text-scale-ratio)/var(--text-scale-ratio));--text-sm: calc(var(--text-xs)*var(--text-scale-ratio));--text-md: calc(var(--text-sm)*var(--text-scale-ratio)*var(--text-scale-ratio));--text-lg: calc(var(--text-md)*var(--text-scale-ratio));--text-xl: calc(var(--text-lg)*var(--text-scale-ratio));--text-xxl: calc(var(--text-xl)*var(--text-scale-ratio));--text-xxxl: calc(var(--text-xxl)*var(--text-scale-ratio));--body-line-height: 1.4;--heading-line-height: 1.2;--font-primary-capital-letter: 1}
@supports (--css: variables){
@media (min-width: 64rem){:root{--text-base-size: 1.25em;--text-scale-ratio: 1.25}
}
}
mark{background-color:hsla(355, 90%, 61%, 0.2);background-color:hsla(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l), 0.2);color:inherit}
.cd-h-timeline .text-component{--line-height-multiplier: 1;--text-vspace-multiplier: 1}
.cd-h-timeline .text-component blockquote{padding-left:1em;border-left:4px solid hsl(240, 1%, 83%);border-left:4px solid var(--color-contrast-low)}
.cd-h-timeline .text-component hr{background:hsl(240, 1%, 83%);background:var(--color-contrast-low);height:1px}
.cd-h-timeline .text-component figcaption{font-size:0.83333em;font-size:var(--text-sm);color:hsl(240, 1%, 48%);color:var(--color-contrast-medium)}
.cd-h-timeline .article.text-component{--line-height-multiplier: 1.13;--text-vspace-multiplier: 1.2}
:root{--btn-font-size: 1em;--btn-font-size-sm: calc(var(--btn-font-size) - 0.2em);--btn-font-size-md: calc(var(--btn-font-size) + 0.2em);--btn-font-size-lg: calc(var(--btn-font-size) + 0.4em);--btn-radius: 0.25em;--btn-padding-x: var(--space-sm);--btn-padding-y: var(--space-xs)}
.btn{--color-shadow: hsla(240, 8%, 12%, 0.15);--color-shadow: hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.15);box-shadow:0 4px 16px hsla(240, 8%, 12%, 0.15);box-shadow:0 4px 16px hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.15);cursor:pointer}
.btn--primary{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.btn--accent{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.btn--disabled{opacity:0.6}
:root{--form-control-padding-x: var(--space-sm);--form-control-padding-y: var(--space-xs);--form-control-radius: 0.25em}

:root{--cd-color-1:hsl(0, 0%, 22%);--cd-color-1-h:0;--cd-color-1-s:0%;--cd-color-1-l:22%;--cd-color-2:hsl(74, 93%, 32%);--cd-color-2-h:74;--cd-color-2-s:93%;--cd-color-2-l:32%;--cd-color-3:hsl(0, 0%, 97%);--cd-color-3-h:0;--cd-color-3-s:0%;--cd-color-3-l:97%;}

.js .cd-h-timeline{opacity:0;transition:opacity 0.2s}
.js .cd-h-timeline--loaded{opacity:1}
.js .cd-h-timeline__container{position:relative;height:100px;max-width:800px}
.js .cd-h-timeline__dates{position:relative;height:100%;margin:0 40px;overflow:hidden}
.js .cd-h-timeline__dates::after,.js .cd-h-timeline__dates::before{content:'';position:absolute;z-index:2;top:0;height:100%;width:20px}
.js .cd-h-timeline__dates::after{right:0;}

.js .cd-h-timeline__line{position:absolute;z-index:1;left:0;top:49px;height:2px;background-color:hsl(0, 0%, 87.3%);background-color:hsl(var(--cd-color-3-h), var(--cd-color-3-s), calc(var(--cd-color-3-l)*0.9));transition:-webkit-transform 0.4s;transition:transform 0.4s;transition:transform 0.4s, -webkit-transform 0.4s}
.js .cd-h-timeline__filling-line{position:absolute;z-index:1;left:0;top:0;height:100%;width:100%;background-color:hsl(74, 93%, 32%);background-color:var(--cd-color-2);-webkit-transform:scaleX(0);-ms-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:left center;-ms-transform-origin:left center;transform-origin:left center;transition:-webkit-transform 0.3s;transition:transform 0.3s;transition:transform 0.3s, -webkit-transform 0.3s}
.js .cd-h-timeline__date{position:absolute;bottom:0;z-index:2;text-align:center;font-size:0.8em;padding-bottom:0.75em;padding-bottom:var(--space-sm);color:hsl(0, 0%, 22%);color:var(--cd-color-1);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-decoration:none}
.js .cd-h-timeline__date::after{content:'';position:absolute;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);bottom:-5px;height:12px;width:12px;border-radius:50%;border-width:2px;border-style:solid;border-color:hsl(0, 0%, 87.3%);border-color:hsl(var(--cd-color-3-h), var(--cd-color-3-s), calc(var(--cd-color-3-l)*0.9));background-color:hsl(0, 0%, 97%);background-color:var(--cd-color-3);transition:background-color 0.3s, border-color .3s}
.js .cd-h-timeline__date:hover::after{background-color:hsl(74, 93%, 32%);background-color:var(--cd-color-2);border-color:hsl(74, 93%, 32%);border-color:var(--cd-color-2)}

@media (min-width: 64rem){.js .cd-h-timeline__date{font-size:0.9em}
}
/*.js .cd-h-timeline__date--selected{pointer-events:none}*/
.js .cd-h-timeline__date--selected::after{background-color:hsl(74, 93%, 32%);background-color:var(--cd-color-2);border-color:hsl(74, 93%, 32%);border-color:var(--cd-color-2)}
.js .cd-h-timeline__date--older-event::after{border-color:hsl(74, 93%, 32%);border-color:var(--cd-color-2)}
.js .cd-h-timeline__navigation{position:absolute;z-index:1;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);height:34px;width:34px;border-radius:50%;border-width:2px;border-style:solid;border-color:hsl(0, 0%, 87.3%);border-color:hsl(var(--cd-color-3-h), var(--cd-color-3-s), calc(var(--cd-color-3-l)*0.9));transition:border-color 0.3s}
.js .cd-h-timeline__navigation::after{content:'';position:absolute;height:16px;width:16px;top:50%;left:50%;-webkit-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);background:url(../img/cd-arrow.svg) no-repeat 0 0}
.js .cd-h-timeline__navigation:hover{border-color:hsl(74, 93%, 32%);border-color:var(--cd-color-2)}
.js .cd-h-timeline__navigation--prev{left:0;-webkit-transform:translateY(-50%) rotate(180deg);-ms-transform:translateY(-50%) rotate(180deg);transform:translateY(-50%) rotate(180deg)}
.js .cd-h-timeline__navigation--next{right:0}
.js .cd-h-timeline__navigation--inactive{cursor:not-allowed}
.js .cd-h-timeline__navigation--inactive::after{background-position:0 -16px}
.js .cd-h-timeline__navigation--inactive:hover{border-color:hsl(0, 0%, 87.3%);border-color:hsl(var(--cd-color-3-h), var(--cd-color-3-s), calc(var(--cd-color-3-l)*0.9))}
.js .cd-h-timeline__events{position:relative;width:100%;overflow:hidden;transition:height .4s}
.js .cd-h-timeline__event{position:absolute;z-index:1;width:100%;left:0;top:0;-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);padding:1px 5%;opacity:0;-webkit-animation-duration:0.4s;animation-duration:0.4s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out}
.js .cd-h-timeline__event--selected{position:relative;z-index:2;opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.js .cd-h-timeline__event--enter-right,.js .cd-h-timeline__event--leave-right{-webkit-animation-name:cd-enter-right;animation-name:cd-enter-right}
.js .cd-h-timeline__event--enter-left,.js .cd-h-timeline__event--leave-left{-webkit-animation-name:cd-enter-left;animation-name:cd-enter-left}
.js .cd-h-timeline__event--leave-right,.js .cd-h-timeline__event--leave-left{animation-direction:reverse}
.js .cd-h-timeline__event-content{max-width:800px}
.js .cd-h-timeline__event-title{color:hsl(0, 0%, 22%);color:var(--cd-color-1);font-family:'Playfair Display', serif;font-family:var(--font-secondary);font-weight:700;font-size:2.48832em;font-size:var(--text-xxxl)}
.js .cd-h-timeline__event-date{display:block;font-style:italic;margin:0.5em auto;margin:var(--space-xs) auto}
.js .cd-h-timeline__event-date::before{content:'- '}
@-webkit-keyframes cd-enter-right{0%{opacity:0;-webkit-transform:translateX(100%);transform:translateX(100%)}
100%{opacity:1;-webkit-transform:translateX(0%);transform:translateX(0%)}
}
@keyframes cd-enter-right{0%{opacity:0;-webkit-transform:translateX(100%);transform:translateX(100%)}
100%{opacity:1;-webkit-transform:translateX(0%);transform:translateX(0%)}
}
@-webkit-keyframes cd-enter-left{0%{opacity:0;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
100%{opacity:1;-webkit-transform:translateX(0%);transform:translateX(0%)}
}
@keyframes cd-enter-left{0%{opacity:0;-webkit-transform:translateX(-100%);transform:translateX(-100%)}
100%{opacity:1;-webkit-transform:translateX(0%);transform:translateX(0%)}
}
html:not(.js) .cd-h-timeline__dates,html:not(.js) .cd-h-timeline__navigation{display:none}